*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
  font-family: $lexend-deca;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-hd-btn;
  color: $paragraph;
}